/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgba(217, 217, 217, 1);
    margin: 30px;
}

header {
    background-color: black;
    color: white;
    text-align: left;
    padding: 20px;
    margin-bottom: 20px;
}

#header h1 {
    margin-left: 30px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-column {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar {
    flex-grow: 1;
    padding: 15px;
    font-size: 18px;
    border: 2px solid black;
    margin-right: 10px;
    background-color: rgba(217, 217, 217, 1);
}

.search-button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0;
    cursor: pointer;
}

.button-container {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.rectangular-button {
    flex-grow: 1;
    padding: 20px 0;
    font-size: 18px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    margin-bottom: 20px;
}

th {
    background-color: rgba(217, 217, 217, 1);
    color: black;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}